[submodule "libsignal-protocol-c"]
	path = libsignal-protocol-c
	url = git@github.com:signalapp/libsignal-protocol-c.git
[submodule "ios-cmake"]
	path = ios-cmake
	url = git@github.com:leetal/ios-cmake.git
